.form-button-sect .login-btn {
  background-color: transparent;
  color: black;
}

.form-button-sect .signup-btn {
  background-color: black;
  color: white;
}

@media (max-width: 576px) {
  .form-button-sect .login-btn {
    background-color: transparent;
    color: black;
  }
  
  .form-button-sect .signup-btn {
    background-color: black;
    color: white;
  }
}