.main-container {
  display: flex;
  max-width: 100vw;
  min-height: 100vh;
}

.hero-container {
  background-image: url("../../assets/images/mollie-sivaram-_1gBVgy8gIU-unsplash.png");
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #f9f9f9;
  flex: 1;
}

.hero-container header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3.5rem;
}

.hero-title{
  font-size: 2.5rem;
}

.hero-credit {
  display: flex;
  align-items: flex-end;
  padding: 1rem;
}

@media (max-width: 576px) {
  .main-container{
    display: flex;
    justify-content: center;
    align-self: center;
  }
  
  .hero-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .hero-title, .hero-credit {
    display: none;
  }
}