/* navbar */
.navbar-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: lightblue;
}

.btn-group{
  display: flex;
}

.btn-login{
  margin-right: 20px;
}

.logo a{
  margin-right: 20px;
}