input.search {
  background-image: url("../assets/magnifying-glass-solid.svg");
  background-size: 1rem;
  background-position: 1rem center;
  background-repeat: no-repeat;
  text-indent: 3rem;
  display: flex;
  align-content: center;
}

input.search::placeholder {
  font-family: "Airbnb Cereal";
  color: #cacaca;
}

.carousel-cell {
  width: 50%;
  height: 300px;
  margin-right: 10px;
  background-color: #8c8;
  border-radius: 5px;
}

.cover-book {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#cover-ubur-ubur-lembur {
  background-image: url("../../assets/images/cover-ubur-ubur-lembur.png");
}

#cover-laskar-pelangi {
  background-image: url("../../assets/images/cover-laskar-pelangi.png");
}
#cover-dilan {
  background-image: url("../../assets/images/cover-dilan.png");
}

.desc-book {
  background-color: rgba(0, 0, 0, 0.2);
}

.title-book {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.desc-title-book {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-group-item {
  border: none;
}

#add-book-btn {
  color: inherit;
}

.modal-footer #save-add-book-home-button {
  background-color: rgba(244, 207, 93, 1);
  padding: 0.5rem 2.5rem;
}

#collapseOpen {
  z-index: 2;
}

.sidebar-open,
.sidebar-close {
  position: sticky;
  top: 25px;
}

.user-image {
  width: 75%;
}

#collapseClose {
  border-right: 1px solid rgba(219, 219, 219, 1);
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.card-book-list {
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.25);
}

.modal {
  z-index: 1060;
}

.modal-backdrop {
  z-index: 1050;
}

.logo-name {
  font-size: 1.2rem;
}

.logo-image {
  width: 25%;
}

.header-logo {
  border-bottom: 1px solid rgba(202, 202, 202, 1);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

* a {
  text-decoration: none;
  cursor: pointer;
}

.show{
  display: block;
}

.hide{
  display: none;
}



@media screen and (max-width: 992px) {
  html {
    font-size: 12px;
  }
  .navbar-collapse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
  }
  .navbar-nav {
    margin: auto;
  }
  .search-logo-sect {
    width: 100% !important;
  }

  #navbarSupportedContent a.nav-link {
    font-size: 1.5rem;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 9px;
  }
}
