.image-hero-detail {
  height: 15rem;
  min-height: 5rem;
  background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.image-desc-detail {
  padding: 3rem 1.25rem 3rem 3rem;
}

.image-desc-detail .badge-detail {
  padding: 0.5rem 1.5rem;
}

.availability-text {
  color: #99d815;
}

.title-book-detail {
  font-size: 3rem;
}

.desc-book-detail {
  font-weight: 300;
  text-align: justify;
}

.image-desc-detail .borrow-button {
  background: #fbcc38;
  color: white;
  padding: 0.5rem 2.5rem;
}

.image-detail-container {
  height: auto;
  top: -8rem;
  right: 0;
  display: flex;
  justify-content: center;
}

#image-detail {
  width: 10rem;
}

@media (max-width: 576px) {
  .availability-text-sect {
    width: 50% !important;
  }

  .image-detail-container {
    width: 100% !important;
    top: -13rem;
  }

  #image-detail {
    border-radius: 1rem;
  }

  .image-desc-detail {
    padding: 3rem;
  }

  .description-sect {
    flex-direction: column;
    gap: 2rem;
  }

  .desc-book-detail {
    width: 100% !important;
  }
}
